*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
}
h1 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;

  font-family: 'Montserrat';
  color: #252b42;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  background: #fafafa;
}
